@{
    ViewBag.Title = "About Contact Managment";
}


<h2>@ViewBag.Title.</h2>
<p>Contact managment is the web application which handles multiple users.<br />
                Every registered users can create their personal contacts list.<br/>
                In addition, every users will have access to manage their list of contacts. </p>

<p></p>
