@{
    ViewBag.Title = "Contact Suraj";
}
@{
    ViewBag.Message = "Suraj Arvindbhai Desai";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    37, Henry ellis street,<br />
    Alawa, Darwin, 0810, NT, Australia<br />
    <abbr title="Phone">P:</abbr>
    0469846749
</address>

<address>
    <strong>Personal Email:</strong>   <p>desai.suraj35@gmail.com</p><br />
    <strong>CDU Email:</strong> <p>s291833@students.cdu.edu.au</p>
</address>