@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(contact-management.png);  height:300px; "  >
    <p class="lead" >
        </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Contact Managment</h2>
        <p> Contact managment is the web application which handles multiple users.Every registered users can create their personal contacts list. In addition, every users will have access to manage their list of contacts.
</p>
    </div>
    <div class="col-md-4">
        <h2>MVC architecture</h2>
        <p>
           Contact management web application has been developed using MVC architecture.
        </p>
       
    </div>
    
    
</div>